---
http_interactions:
- request:
    method: get
    uri: https://congress.api.sunlightfoundation.com/legislators/locate?apikey=9f19d387e7904184af2eb15c6c1d7bc5&latitude=34.0901&longitude=-118.4065
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"bioguide_id":"L000582","birthday":"1969-03-29","chamber":"house","contact_form":null,"crp_id":"N00035825","district":33,"facebook_id":"RepTedLieu","fax":"202-225-4099","fec_ids":["H4CA33119"],"first_name":"Ted","gender":"M","govtrack_id":"412616","in_office":true,"last_name":"Lieu","leadership_role":null,"middle_name":null,"name_suffix":null,"nickname":null,"oc_email":"Rep.Lieu@opencongress.org","ocd_id":"ocd-division/country:us/state:ca/cd:33","office":"415
        Cannon House Office Building","party":"D","phone":"202-225-3976","state":"CA","state_name":"California","term_end":"2017-01-03","term_start":"2015-01-06","thomas_id":"02230","title":"Rep","twitter_id":"RepTedLieu","website":"https://lieu.house.gov"},{"bioguide_id":"B000711","birthday":"1940-11-11","chamber":"senate","contact_form":"https://www.boxer.senate.gov/contact/shareyourviews.html","crp_id":"N00006692","district":null,"facebook_id":"116513005087055","fax":"202-224-0454","fec_ids":["S2CA00286","H2CA06028","P80003247"],"first_name":"Barbara","gender":"F","govtrack_id":"300011","icpsr_id":15011,"in_office":true,"last_name":"Boxer","lis_id":"S223","middle_name":null,"name_suffix":null,"nickname":null,"oc_email":"Sen.Boxer@opencongress.org","ocd_id":"ocd-division/country:us/state:ca","office":"112
        Hart Senate Office Building","party":"D","phone":"202-224-3553","senate_class":3,"state":"CA","state_name":"California","state_rank":"junior","term_end":"2017-01-03","term_start":"2011-01-05","thomas_id":"00116","title":"Sen","twitter_id":"SenatorBoxer","votesmart_id":53274,"website":"http://www.boxer.senate.gov","youtube_id":"SenatorBoxer"},{"bioguide_id":"F000062","birthday":"1933-06-22","chamber":"senate","contact_form":"https://www.feinstein.senate.gov/public/index.cfm/e-mail-me","crp_id":"N00007364","district":null,"facebook_id":"334887279867783","fax":"202-228-3954","fec_ids":["S0CA00199"],"first_name":"Dianne","gender":"F","govtrack_id":"300043","icpsr_id":49300,"in_office":true,"last_name":"Feinstein","lis_id":"S221","middle_name":null,"name_suffix":null,"nickname":null,"oc_email":"Sen.Feinstein@opencongress.org","ocd_id":"ocd-division/country:us/state:ca","office":"331
        Hart Senate Office Building","party":"D","phone":"202-224-3841","senate_class":1,"state":"CA","state_name":"California","state_rank":"senior","term_end":"2019-01-03","term_start":"2013-01-03","thomas_id":"01332","title":"Sen","twitter_id":"SenFeinstein","votesmart_id":53273,"website":"http://www.feinstein.senate.gov","youtube_id":"SenatorFeinstein"}],"count":3,"page":{"count":3,"per_page":20,"page":1}}'
  recorded_at: Thu, 17 Mar 2016 01:51:48 GMT
- request:
    method: get
    uri: http://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=174a1ee32de36322b246700bfa57630c:0:74036157&q=Ted%20Lieu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-04.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"meta":{"hits":3858,"time":79,"offset":0},"docs":[{"web_url":"http:\/\/www.nytimes.com\/2016\/01\/21\/science\/california-said-to-target-exxon-in-climate-inquiry.html","snippet":"California
        appears to have joined New York in weighing Exxon Mobil&#8217;s honesty in
        admitting to the risks posed by climate change.","lead_paragraph":"California
        appears to have joined New York in weighing Exxon Mobil&#8217;s honesty in
        admitting to the risks posed by climate change.","abstract":"California Atty
        Gen Kamala D Harris is investigating whether Exxon Mobil lied to public and
        shareholders about risks of climate change, and whether firm''s statements
        are violations of securities laws.","print_page":"4","blog":[],"source":"The
        New York Times","multimedia":[],"headline":{"main":"California Said to Target
        Exxon in Climate Inquiry ","print_headline":"California Said to Target Exxon
        in Climate Inquiry "},"keywords":[{"rank":"1","is_major":"Y","name":"organizations","value":"Exxon
        Mobil Corp"},{"rank":"2","is_major":"Y","name":"subject","value":"Global Warming"},{"rank":"3","is_major":"Y","name":"glocations","value":"California"},{"rank":"4","is_major":"Y","name":"persons","value":"Harris,
        Kamala D"},{"rank":"5","is_major":"N","name":"persons","value":"Schneiderman,
        Eric T"},{"rank":"6","is_major":"N","name":"subject","value":"Securities and
        Commodities Violations"},{"rank":"7","is_major":"N","name":"persons","value":"Lieu,
        Ted W (1969- )"}],"pub_date":"2016-01-21T00:00:00Z","document_type":"article","news_desk":"Business","section_name":"Science","subsection_name":null,"byline":{"person":[{"organization":"","role":"reported","firstname":"John","rank":1,"lastname":"SCHWARTZ"}],"original":"By
        JOHN SCHWARTZ"},"type_of_material":"News","_id":"56a02e3338f0d80627b20b94","word_count":"803","slideshow_credits":null},{"web_url":"http:\/\/www.nytimes.com\/interactive\/2015\/09\/29\/world\/middleeast\/document-ted-lieus-letter-to-jcs-chairman-dunford-on-yemen.html","snippet":"In
        a letter sent on Tuesday to Gen. Joseph F. Dunford Jr., the coming chairman
        of the Joint Chiefs of Staff, Mr. Lieu requested that the Defense Department
        clarify whether American officials knew how many civilians had died as a result
        of coalition...","lead_paragraph":"In a letter sent on Tuesday to Gen. Joseph
        F. Dunford Jr., the coming chairman of the Joint Chiefs of Staff, Mr. Lieu
        requested that the Defense Department clarify whether American officials knew
        how many civilians had died as a result of coalition airstrikes in Yemen.","abstract":null,"print_page":null,"blog":[],"source":"The
        New York Times","multimedia":[{"width":75,"url":"images\/2015\/09\/29\/world\/document-ted-lieus-letter-to-jcs-chairman-dunford-on-yemen\/document-ted-lieus-letter-to-jcs-chairman-dunford-on-yemen-thumbStandard.gif","height":75,"subtype":"thumbnail","legacy":{"thumbnailheight":"75","thumbnail":"images\/2015\/09\/29\/world\/document-ted-lieus-letter-to-jcs-chairman-dunford-on-yemen\/document-ted-lieus-letter-to-jcs-chairman-dunford-on-yemen-thumbStandard.gif","thumbnailwidth":"75"},"type":"image"}],"headline":{"main":"Ted
        Lieu''s Letter to JCS Chairman Dunford on Yemen"},"keywords":[{"rank":"1","is_major":"N","name":"subject","value":"Civilian
        Casualties"},{"rank":"2","is_major":"N","name":"glocations","value":"Yemen"},{"rank":"3","is_major":"N","name":"glocations","value":"Saudi
        Arabia"},{"rank":"4","is_major":"N","name":"persons","value":"Dunford, Joseph
        F Jr"},{"rank":"5","is_major":"N","name":"persons","value":"Lieu, Ted W (1969-
        )"}],"[...]
- request:
    method: get
    uri: http://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=174a1ee32de36322b246700bfa57630c:0:74036157&q=Barbara%20Boxer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-03.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"meta":{"hits":3283,"time":42,"offset":0},"docs":[{"web_url":"http:\/\/takingnote.blogs.nytimes.com\/2013\/03\/28\/transplanting-madison-square-garden\/","snippet":"City
        officials should deny the arena\u2019s request to live on top of Pennsylvania
        Station \u201cin perpetuity.\u201d","lead_paragraph":null,"abstract":"City
        officials should deny the arena\u2019s request to live on top of Pennsylvania
        Station \u201cin perpetuity.\u201d","print_page":null,"blog":[],"source":"The
        New York Times","multimedia":[{"width":190,"url":"images\/2013\/03\/28\/opinion\/3282013penn\/3282013penn-thumbWide.jpg","height":126,"subtype":"wide","legacy":{"wide":"images\/2013\/03\/28\/opinion\/3282013penn\/3282013penn-thumbWide.jpg","wideheight":"126","widewidth":"190"},"type":"image"},{"width":600,"url":"images\/2013\/03\/28\/opinion\/3282013penn\/3282013penn-articleLarge.jpg","height":393,"subtype":"xlarge","legacy":{"xlargewidth":"600","xlarge":"images\/2013\/03\/28\/opinion\/3282013penn\/3282013penn-articleLarge.jpg","xlargeheight":"393"},"type":"image"},{"width":75,"url":"images\/2013\/03\/28\/opinion\/3282013penn\/3282013penn-thumbStandard.jpg","height":75,"subtype":"thumbnail","legacy":{"thumbnailheight":"75","thumbnail":"images\/2013\/03\/28\/opinion\/3282013penn\/3282013penn-thumbStandard.jpg","thumbnailwidth":"75"},"type":"image"}],"headline":{"main":"Transplanting
        Madison Square Garden","kicker":"Taking Note"},"keywords":[{"rank":"1","name":"persons","value":"Moynihan,
        Daniel Patrick"},{"rank":"2","name":"persons","value":"Stringer, Scott M"},{"rank":"1","name":"organizations","value":"Barbara
        Boxer"},{"rank":"1","name":"subject","value":"Pennsylvania Station (NYC)"}],"pub_date":"2013-03-28T17:12:37Z","document_type":"blogpost","news_desk":null,"section_name":"Opinion","subsection_name":null,"byline":{"person":[{"organization":"","role":"reported","firstname":"Eleanor","[...]
- request:
    method: get
    uri: http://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=174a1ee32de36322b246700bfa57630c:0:74036157&q=Dianne%20Feinstein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"meta":{"hits":3251,"time":38,"offset":0},"docs":[{"web_url":"http:\/\/www.nytimes.com\/2016\/03\/16\/opinion\/human-trafficking.html","snippet":"Senator
        Dianne Feinstein discusses the role of website in facilitating the sex trade
        of children.","lead_paragraph":"Senator Dianne Feinstein discusses the role
        of website in facilitating the sex trade of children.","abstract":"Letter
        from Sen Dianne Feinstein responds to March 10 column by Nicholas Kristof
        denouncing websites like Backpage.com for facilitating sex trafficking of
        minors.","print_page":"22","blog":[],"source":"The New York Times","multimedia":[],"headline":{"main":"Human
        Trafficking","content_kicker":"Letter","kicker":"Letter","print_headline":"Human
        Trafficking"},"keywords":[{"rank":"2","is_major":"Y","name":"subject","value":"Sex
        Crimes"},{"rank":"3","is_major":"Y","name":"subject","value":"Child Abuse
        and Neglect"},{"rank":"4","is_major":"Y","name":"subject","value":"Prostitution"},{"rank":"5","is_major":"Y","name":"subject","value":"Human
        Trafficking"},{"rank":"6","is_major":"N","name":"persons","value":"Feinstein,
        Dianne"},{"rank":"7","is_major":"[...]
