---
http_interactions:
- request:
    method: get
    uri: https://congress.api.sunlightfoundation.com/legislators/locate?apikey=9f19d387e7904184af2eb15c6c1d7bc5&latitude=48.0372&longitude=-94.917
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"bioguide_id":"P000258","birthday":"1944-06-29","chamber":"house","contact_form":"https://collinpeterson.house.gov/contact-me/email-me","crp_id":"N00004558","district":7,"facebook_id":"6595227967","fax":"202-225-1593","fec_ids":["H2MN07014"],"first_name":"Collin","gender":"M","govtrack_id":"400316","icpsr_id":29127,"in_office":true,"last_name":"Peterson","middle_name":"Clark","name_suffix":null,"nickname":null,"oc_email":"Rep.Collinpeterson@opencongress.org","ocd_id":"ocd-division/country:us/state:mn/cd:7","office":"2204
        Rayburn House Office Building","party":"D","phone":"202-225-2165","state":"MN","state_name":"Minnesota","term_end":"2017-01-03","term_start":"2015-01-06","thomas_id":"00910","title":"Rep","twitter_id":null,"votesmart_id":26926,"website":"http://collinpeterson.house.gov","youtube_id":null},{"bioguide_id":"F000457","birthday":"1951-05-21","chamber":"senate","contact_form":"http://www.franken.senate.gov/?p=email_al","crp_id":"N00029016","district":null,"facebook_id":null,"fec_ids":["S8MN00438"],"first_name":"Alan","gender":"M","govtrack_id":"412378","icpsr_id":40904,"in_office":true,"last_name":"Franken","lis_id":"S332","middle_name":"Stuart","name_suffix":null,"nickname":"Al","oc_email":"Sen.Franken@opencongress.org","ocd_id":"ocd-division/country:us/state:mn","office":"309
        Hart Senate Office Building","party":"D","phone":"202-224-5641","senate_class":2,"state":"MN","state_name":"Minnesota","state_rank":"junior","term_end":"2021-01-03","term_start":"2015-01-06","thomas_id":"01969","title":"Sen","twitter_id":null,"votesmart_id":108924,"website":"http://www.franken.senate.gov","youtube_id":"SenatorFranken"},{"bioguide_id":"K000367","birthday":"1960-05-25","chamber":"senate","contact_form":"http://www.klobuchar.senate.gov/public/email-amy","crp_id":"N00027500","district":null,"facebook_id":null,"fax":"202-228-2186","fec_ids":["S6MN00267"],"first_name":"Amy","gender":"F","govtrack_id":"412242","icpsr_id":40700,"in_office":true,"last_name":"Klobuchar","lis_id":"S311","middle_name":"Jean","name_suffix":null,"nickname":null,"oc_email":"Sen.Klobuchar@opencongress.org","ocd_id":"ocd-division/country:us/state:mn","office":"302
        Hart Senate Office Building","party":"D","phone":"202-224-3244","senate_class":1,"state":"MN","state_name":"Minnesota","state_rank":"senior","term_end":"2019-01-03","term_start":"2013-01-03","thomas_id":"01826","title":"Sen","twitter_id":null,"votesmart_id":65092,"website":"http://www.klobuchar.senate.gov","youtube_id":"senatorklobuchar"}],"count":3,"page":{"count":3,"per_page":20,"page":1}}'
  recorded_at: Thu, 17 Mar 2016 02:15:17 GMT
- request:
    method: get
    uri: http://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=174a1ee32de36322b246700bfa57630c:0:74036157&q=Collin%20Peterson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-03.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"meta":{"hits":240,"time":134,"offset":0},"docs":[{"web_url":"http:\/\/www.nytimes.com\/1993\/11\/29\/nyregion\/chronicle-332793.html","snippet":"In
        case politics doesn''t pan out, United States Representative COLLIN C. PETERSON
        has a fallback: a singing career.   Mr. Peterson, a Democrat from Minnesota,
        appeared Saturday night on the Grand Ole Opry and sang the Eddy Arnold hit
        \"Make the World...","lead_paragraph":"In case politics doesn''t pan out,
        United States Representative COLLIN C. PETERSON has a fallback: a singing
        career. Mr. Peterson, a Democrat from Minnesota, appeared Saturday night on
        the Grand Ole Opry and sang the Eddy Arnold hit \"Make the World Go Away.\"","abstract":null,"print_page":"4","blog":[],"source":"The
        New York Times","multimedia":[],"headline":{"main":"CHRONICLE"},"keywords":[{"name":"creative_works","value":"CHRONICLE
        (TIMES COLUMN)"},{"name":"persons","value":"PETERSON, COLLIN"},{"name":"subject","value":"MUSIC"}],"pub_date":"1993-11-29T00:00:00Z","document_type":"article","news_desk":"Metropolitan
        Desk","section_name":"New York and Region","subsection_name":null,"byline":{"person":[{"organization":"","role":"reported","firstname":"Ron","rank":1,"lastname":"ALEXANDER"}],"original":"By
        RON ALEXANDER"},"type_of_material":"News","_id":"4fd1d2958eb7c8105d70df21","word_count":119,"slideshow_credits":null},{"web_url":"http:\/\/www.nytimes.com\/2007\/03\/30\/opinion\/30intro.html","snippet":"A
        partial list of some of the most egregious earmarks shows that, despite lofty
        rhetoric about the Iraq war, the new Democratic Congress is already feeding
        at the trough.","lead_paragraph":"A partial list of some of the most egregious
        earmarks shows that, despite lofty rhetoric about the Iraq war, the new Democratic
        Congress is already feeding at the trough.","abstract":null,"print_page":"27","blog":[],"source":"The
        New York Times","multimedia":[{"width":190,"url":"images\/2007\/03\/29\/opinion\/30opchart-190.jpg","height":126,"subtype":"wide","legacy":{"wide":"images\/2007\/03\/29\/opinion\/30opchart-190.jpg","wideheight":"126","widewidth":"190"},"type":"image"},{"width":190,"url":"images\/2007\/03\/29\/opinion\/30opchart-190.jpg","height":126,"subtype":"thumbnail","legacy":{"thumbnailheight":"126","thumbnail":"images\/2007\/03\/29\/opinion\/30opchart-190.jpg","thumbnailwidth":"190"},"type":"image"}],"headline":{"main":"Pork
        Goes to War","content_kicker":"Op-Ed Contributor","kicker":"Op-Ed Contributor","print_headline":"Pork
        Goes to War"},"keywords":[{"rank":"1","is_major":"N","name":"organizations","value":"Democratic
        Party"},{"rank":"2","is_major":"N","name":"subject","value":"Lobbying and
        Lobbyists"},{"rank":"3","is_major":"N","name":"organizations","value":"Senate"},{"rank":"4","is_major":"N","name":"organizations","value":"House
        of Representatives"},{"rank":"5","is_major":"N","name":"subject","value":"United
        States Politics and Government"},{"rank":"6","is_major":"N","name":"persons","value":"Peterson,
        Collin"}],"pub_da[...]
- request:
    method: get
    uri: http://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=174a1ee32de36322b246700bfa57630c:0:74036157&q=Alan%20Franken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"meta":{"hits":[...]
- request:
    method: get
    uri: http://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=174a1ee32de36322b246700bfa57630c:0:74036157&q=Amy%20Klobuchar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-04.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"meta":{"hits":384,"time":49,"offset":0},"docs":[{"web_url":"http:\/\/www.nytimes.com\/video\/us\/politics\/100000002132197\/women-in-the-upper-chamber.html","snippet":"Senator
        Amy Klobuchar of Minnesota discusses the record number of women in the United
        States Senate.","lead_paragraph":"Senator Amy Klobuchar of Minnesota discusses
        the record number of women in the United States Senate.","abstract":null,"print_page":null,"blog":[],"source":"The
        New York Times","multimedia":[{"width":190,"url":"images\/2013\/03\/22\/us\/politics\/senate-women-image\/senate-women-image-thumbWide.jpg","height":126,"subtype":"wide","legacy":{"wide":"images\/2013\/03\/22\/us\/politics\/senate-women-image\/senate-women-image-thumbWide.jpg","wideheight":"126","widewidth":"190"},"type":"image"},{"width":600,"url":"images\/2013\/03\/22\/us\/politics\/senate-women-image\/senate-women-image-articleLarge.jpg","height":337,"subtype":"xlarge","legacy":{"xlargewidth":"600","xlarge":"images\/2013\/03\/22\/us\/politics\/senate-women-image\/senate-women-image-articleLarge.jpg","xlargeheight":"337"},"type":"image"},{"width":75,"url":"images\/2013\/03\/22\/us\/politics\/senate-women-image\/senate-women-image-thumbStandard.jpg","height":75,"subtype":"thumbnail","legacy":{"thumbnailheight":"75","thumbnail":"images\/2013\/03\/22\/us\/politics\/senate-women-image\/senate-women-image-thumbStandard.jpg","thumbnailwidth":"75"},"type":"image"}],"headline":{"main":"Women
        in the Upper Chamber"},"keywords":[{"rank":"1","is_major":"N","name":"organizations","value":"Senate"},{"rank":"2","is_major":"N","name":"subject","value":"Women
        and Girls"},{"rank":"3","is_major":"N","name":"persons","value":"Klobuchar,
        Amy"}],"pub_date":"2013-03-22T11:15:18Z","document_type":"multimedia","news_desk":"U.S.
        \/ Politics","section_name":"U.S.","subsection_name":"Politics","byline":{"person":[{"organization":"","role":"reported","firstname":"Ben","rank":1,"lastname":"Werschkul"},{"organization":"","role":"reported","firstname":"Channon","rank":2,"lastname":"Hodge"},{"firstname":"Pedro","middlename":"Rafael","lastname":"Rosado","rank":3,"role":"reported","organization":""},{"organization":"","role":"reported","firstname":"Erica","rank":4,"lastname":"Berenstein"},{"organization":"","role":"reported","firstname":"Alyssa","rank":5,"lastname":"Kim"}],"original":"Ben
        Werschkul, Channon Hodge, Pedro Rafael Rosado, Erica Berenstein and Alyssa
        Kim"},"type_of_material":"Video","_id":"514c7596fdc5926e77001b06","word_count":"16","slideshow_credits":null},{"web_url":"http:\/\/www.nytime[...]
