---
http_interactions:
- request:
    method: get
    uri: https://congress.api.sunlightfoundation.com/legislators/locate?apikey=9f19d387e7904184af2eb15c6c1d7bc5&zip=80205
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"bioguide_id":"G000562","birthday":"1974-08-22","chamber":"senate","contact_form":null,"crp_id":"N00030780","district":null,"facebook_id":"160924893954206","fax":null,"fec_ids":["H0CO04122","S4CO00395"],"first_name":"Cory","gender":"M","govtrack_id":"412406","icpsr_id":21112,"in_office":true,"last_name":"Gardner","lis_id":"S377","middle_name":null,"name_suffix":null,"nickname":null,"oc_email":"Sen.Gardner@opencongress.org","ocd_id":"ocd-division/country:us/state:co","office":"354
        Russell Senate Office Building","party":"R","phone":"202-224-5941","senate_class":2,"state":"CO","state_name":"Colorado","state_rank":"junior","term_end":"2021-01-03","term_start":"2015-01-06","thomas_id":"01998","title":"Sen","twitter_id":"SenCoryGardner","votesmart_id":30004,"website":"http://www.gardner.senate.gov","youtube_id":null},{"bioguide_id":"D000197","birthday":"1957-07-29","chamber":"house","contact_form":"https://degette.house.gov/contact/send-me-an-email/email-me","crp_id":"N00006134","district":1,"facebook_id":"110757973488","fax":"202-225-5657","fec_ids":["H6CO01141"],"first_name":"Diana","gender":"F","govtrack_id":"400101","icpsr_id":29710,"in_office":true,"last_name":"DeGette","middle_name":"L.","name_suffix":null,"nickname":null,"oc_email":"Rep.Degette@opencongress.org","ocd_id":"ocd-division/country:us[...]
[...]
- request:
    method: get
    uri: http://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=174a1ee32de36322b246700bfa57630c:0:74036157&q=Cory%20Gardner
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"meta":{"hits":919,"time":33,"offset":0},"docs":[{"web_url":"http:\/\/www.nytimes.com\/2016\/02\/11\/world\/asia\/senate-approves-penalties-for-aiding-north-korean-nuclear-program.html","snippet":"The
        legislation, coming days after a rocket launch by North Korea, is intended
        to limit Pyongyang\u2019s ability to finance warheads and missiles.","lead_paragraph":"The
        legislation, coming days after a rocket launch by North Korea, is intended
        to limit Pyongyang\u2019s ability to finance warheads and missiles.","abstract":"United
        States Senate unanimously approves new sanctions aimed at restricting North
        Korea''s nuclear program, following country''s recent rocket launches.","print_page":"10","blog":[],"source":"The
        New York Times","multimedia":[{"width":190,"url":"images\/2016\/02\/11\/us\/11cong-web\/11cong-web-thumbWide.jpg","height":126,"subtype":"wide","legacy":{"wide":"images\/2016\/02\/11\/us\/11cong-web\/11cong-web-thumbWide.jpg","wideheight":"126","widewidth":"190"},"type":"image"},{"width":600,"url":"images\/2016\/02\/11\/us\/11cong-web\/11cong-web-articleLarge.jpg","height":389,"subtype":"xlarge","legacy":{"xlargewidth":"600","xlarge":"images\/2016\/02\/11\/us\/11cong-web\/11cong-web-articleLarge.jpg","xlargeheight":"389"},"type":"image"},{"width":75,"url":"images\/2016\/02\/11\/us\/11cong-web\/11cong-web-thumbStandard.jpg","height":75,"subtype":"thumbnail","legacy":{"thumbnailheight":"75","thumbnail":"images\/2016\/02\/11\/us\/11cong-web\/11cong-web-thumbStandard.jpg","thumbnailwidth":"75"},"type":"image"}],"headline":{"main":"Senate
        Approves Penalties for Aiding North Korean Nuclear Program","print_headline":"Senate
        Approves Penalties for Aiding Korean Nuclear Program"},"keywords":[{"rank":"1","is_major":"Y","name":"glocations","value":"North
        Korea"},{"rank":"2","is_major":"Y","name":"subject","value":"Nuclear Weapons"},{"rank":"3","is_major":"Y","name":"subject","value":"United
        States Politics and Government"},{"rank":"4","is_major":"N","name":"subject","value":"United
        States International Relations"},{"rank":"5","is_major":"N","name":"subject","value":"Embargoes
        and Sanctions"},{"rank":"6","is_major":"N","name":"organizations","value":"Senate"},{"rank":"7","is_major":"N","name":"subject","value":"Law
        and Legislation"},{"rank":"8","is_major":"N","name":"persons","value":"Rubio,
        Marco"},{"rank":"9","is_major":"N","name":"subject","value":"Nuclear Tests"},{"rank":"10","is_major":"N","name":"persons","value":"Gardner,
        Cory S"}],"pub_date":"2016-02-11T00:00:00Z","document_type":"article","news_desk":"Foreign","section_name":"World","subsection_name":"Asia
        Pacific","byline":{"person":[{"organization":"","role":"reported","firstname":"Emmarie","rank":1,"lastname":"HUETTEMAN"}],"original":"By
        EMMARIE HUETTEMAN"},"type_of_material":"News","_id":"56bbd6c938f0d862fbbced8f","word_count":"423","slideshow_credits":null},{"web_url":"http:\/\/www.nytimes.com\/video\/us\/politics\/100000003217372\/cory-gardners-victory-speech.html","snippet":"Representative
        Cory Gardner, Republican of Colorado, spoke after defeating Senator Mark Udall.","lead_paragraph":"Representative
        Cory Gardner, Republican of Colorado, spoke after defeating Senator Mark Udall.","abstract":null,"print_page":null,"blog":[],"source":"The
        New York Times","multimedia":[{"width":190,"url":"images\/2014\/11\/05\/multimed[...]
- request:
    method: get
    uri: http://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=174a1ee32de36322b246700bfa57630c:0:74036157&q=Diana%20DeGette
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"meta":{"hits"[...]
- request:
    method: get
    uri: http://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=174a1ee32de36322b246700bfa57630c:0:74036157&q=Michael%20Bennet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-04.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"meta":{"hits[...]
