<div class="container">

  <h1>Tweet My Rep</h1>
  <h1>Tell the powers that be what you <em>really</em> think</h1>

  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:zipcode, "Search your zipcode") %>
    <%= text_field_tag(:zipcode) %>
    <%= submit_tag("Search") %>
  <% end %>

</div>
