<div class="center longboxed">
  <%= link_to "You've entered an invalid zip, try again", root_path, class: "btn btn-danger" %><br><br>
  <%= link_to "Find Legislators at Random" , random_zipcodes_path, class: "btn btn-success"%>
</div>
