
<div class="invalid_zip_img">
  <div class="pad_button">


  <div style="text-align:center">
    <button class="rounded_corners_button"><h3><%= link_to "You've entered an invalid zip, try again", root_path %></h3></button>
  </div>
  </div>
</div>
